/* *{
    margin: 0;
    padding:0;
    box-sizing: body-box;
    font-family: 'Poppins', sans-serif;
} */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Montserrat:wght@400;700&family=Oswald:wght@400;700&family=Poppins:wght@400;700&family=Tangerine:wght@400;700&display=swap');

/* .getintouch_main{
    height: 700px;
    background-color: red;
    position: relative;
}
.getintouch{
    text-align: center;
    padding: 30px 30px;
    color: white;
    font-size: 3.5rem;
    font-weight: 50px;
}
.contactus_main{
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 100%;
}
.address_main{
    height: 500px;
    width: 340px;
    position: relative;
    display: inline-block;
}
.address{
    position: absolute;
    left: 25%;
    color: white;
    top: 21%;
}
.address_content{
    position: absolute;
    top: 29%;
    text-align: center;
    left: 21%;
    margin-top: 3%;
    color: white;
}
.logo_1{
    height: 100px;
}
.icon_1{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 32%;
    border: 5px solid white;
    border-radius: 50%;
}
.all_icon{
    position: relative;
    left: 23%;
    top: 24%;
    color: white;
}
.phone_box{
    height: 500px;
    width: 340px;
    position: relative;
    display: inline-block;
}
.phone{
    position: absolute;
    left: 31%;
    color: white;
    top: 21%;
}
.phone_content{
position: absolute;
top: 29%;
text-align: center;
left: 21%;
margin-top: 3%;
color: white;
}

.email_box{
    height: 500px;
    width: 340px;
    position: relative;
    display: inline-block;
}

.email_icon{
    position: absolute;
    left: 33%;
    color: white;
    top: 21%;
}

.email_content{
    position: absolute;
    top: 29%;
    text-align: center;
    text-align: center;
    left: 18%;
    margin-top: 3%;
    color: white;
}

.contactus_main{
    position: relative;
    margin-top: 30px;
    height: 600px;
}
.contactus_msg{
    height: 500px;
    width: 100%;
    display: inline-block;
    position: absolute;
    padding-left: 0px;
}
.contactus_msg_1{
    margin-top: 3%;
}
.contactus_msg_2{
    margin-top: 5%;
}
.contactus_msg_3{
    word-spacing: 4px;
    text-align: left;
    font-size: 20px;
}

@media (max-width:500px) {
    .getintouch_main{
        height: 1810px;

    }

    .address_main{
        width: 100%;
        left: unset;
    }

    .phone_box{
        width: 100%;
        left: unset;
    }

    .email_box{
        width: 100%;
        left: unset;
    }

    .contactus_main{
        display: block;
        height: 1300px;
    }

    .contactus_msg_1{
        margin-left: 20px;
    }

    .contactus_msg_2{
        margin: 15px;
    }

    .address{
        left: 31%;
    }

    .phone{
        left: 35%;
    }

    .email_icon{
        left: 37%;
    }
    
    .email_content{
        left: 22%;
    }

    .phone_content{
        left: 26%;
    }

    .address_content{
        left: 26%;
    }
}

@media (min-width:500px) and (max-width:1024px){

    .getintouch_main{
        height: 1680px;
    }

    .getintouch{
        margin-left: -6%;
    }

    .address_main{
        width: 100%;
        display: block;
        left: 0%;
    }
    .icon_1{
        margin-left: 5%;
    }

    .address{
        left: 36%;
    }

    .address_content{
        left: 33%;
    }

    .phone_box{
        width: 100%;
        display: block;
        left: 0%;
    }

    .phone{
        left: 37%;
    }

    .phone_content{
        left: 32%;
    }

    .email_box{
        width: 100%;
        display: block;
        left: 0%;
    }

    .email_icon{
        left: 37%;
    }

    .email_content{
        left: 29%;
    }

    .contactus_main{
        display: block;
    }

    
} */





/* ..................... */
.contact {
    position: relative;
    min-height: 100vh;
    padding:50px 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #042743;
}
.contact .content{
    max-width: 800px;
    text-align: center;

}
.contact .content h2{
    font-size: 3em;
    color:#fff;
    font-weight: 500;
    text-align:center;

}
.contact .content p{
    font-size: 1.1em;
    color:#fff;
    font-weight: 300;
    text-align:center;

}
.container-1{
    width:100%;
   
    display:flex;
    justify-content: center;
    align-items:center;
    gap :50px;
    margin-top: 30px;
}
.container-1 .contactInfo{
    width: 50%;
    display:flex;
    flex-direction: column;
   
} 
.container-1 .contactInfo .box{
    position:relative;
    padding: 20px, 0;
    display:flex;
    cursor: pointer;
}
.container-1 .contactInfo .box .icon{
    min-width: 60px;
    height:60px;
    background:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.75em;
    border-radius: 50%;
    transition: 0.5s;

}
.container-1 .contactInfo .box:hover .icon{
    background:#00bcd4;
    color:#fff;
}
.container-1 .contactInfo .box .text{ 
    display:flex;
    flex-direction: column;
    margin-left:20px;
    font-size: 1.1em;
    color:#fff;
    font-weight: 300;
}
.container-1 .contactInfo .box .text h3{
    font-weight:500;
    color:#00bcd4;

}
.container-1 .contactInfo .txt{
    color:#fff;
    margin-top:50px;
    font-weight: 500;
    padding-left:10px;
    border-left: 50px solid #cc7995;
    line-height: 1em;
}
.sci{
    position:relative;
    display:flex;
    gap : 30px;
    margin: 20px 0;
}
.sci li{
    list-style: none;;
}
.sci li a{
    color:#fff;
    font-size:2em;
    transition:0.5s;

}
.sci li a:hover{
    color:#00bcd4;
}


.container-1 .contactForm{
  position: relative;
  width:40%;
  background:#fff;
  min-height: 100px;
  padding:60px;


} 
.container-1 .contactForm h2{
    font-size: 2em;
    color: #333;
    font-weight:500;
}
.container-1 .contactForm .inputBox {
    position:relative;
    width:1000px;
    margin-top:20px;

}

.container-1 .contactForm .inputBox input,
.container-1 .contactForm .inputBox textarea {
    width:400px;
    padding:5px 0;
    font-size:1.1em;
    margin:10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline:none;
    resize:none;
}
.container-1 .contactForm .inputBox span{
    position:absolute;
    left:0;
    pointer-events: none;
    padding:5px, 0;
    margin:10px 0;
    font-size: 1.1em;
    color:#666;
    transition:0.5s;

}
.container-1 .contactForm .inputBox input:focus ~ span, .container-1 .contactForm .inputBox textarea:focus ~ span,
.container-1 .contactForm .inputBox input:valid ~ span, .container-1 .contactForm .inputBox textarea:valid ~ span{
    color:#e91e63;
    font-size:0.9em;
    transform:translateY(-20px);

}
.container-1 .contactForm .inputBox input[type="submit"]{
    width:100px;
    background:#00bcd4;
    color:#fff;
    border:none;
    cursor:pointer;
    padding:10px;
    font-size:1.1em;
    font-weight: 500;

}

/* lets make it responsive  */

/* @media (max-width: 991px){
    .contact{
        padding:50px;
    }
    .container-1{
        flex-direction: column;
    }
    .container-1 .contactInfo,
    .container-1 .contactForm{
        width:100px;

    }
    .container-1 .contactForm {
        padding: 62px;
        padding-right: 262px;
    }
    .container-1 .contactForm .inputBox input,
.container-1 .contactForm .inputBox textarea
   {
        width:200px;
    }

} */


/* ....~ */
@media (min-width:0px) and (max-width:500px){

    .contact{
        padding: 50px 50px;
    }

    .contact .content h2 {
        font-size: 50px;
    }
  
    .contact .content p {
        font-size: 20px;
    }

    .container-1{
        display: block;
    }

    .container-1 .contactInfo {
        width: 100%;
        padding: 100px 0px;
    }

    .container-1 .contactForm .inputBox input,
.container-1 .contactForm .inputBox textarea {
        width: 20%;
        padding: 40px;
    }
}

@media (min-width:500px) and (max-width:830px){

    .contact{
        padding: 50px 100px;
    }

    .contact .content h2 {
        font-size: 4em;
    }

    .container-1{
        display: block;
    }

    .container-1 .contactInfo {
        width: 100%;
        padding: 10% 0% 10% 4%;

    }

    .container-1 .contactForm {
        width: 100%;
    }
}

@media (min-width:830px) and (max-width:1024px){
      
    .contact{
        padding: 50px 100px;
    }

    .contact .content h2 {
        font-size: 4em;
    }

    .container-1{
        display: block;
    }

    .container-1 .contactInfo {
        width: 100%;
        

    }

    .container-1 .contactForm .inputBox input,
.container-1 .contactForm .inputBox textarea {
        width: 270px;
    }
    
}


/* .footer{
   
    position:relative;
    width:auto;
    height:auto;
    padding:50px 100px;
    background: #111;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;

}
.container-grid{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-direction: row;
}
.container-grid .f-about{
    width: 40%;

}
.container-grid .f-about h3{
    position:relative;
    color:#fff;
    font-weight: 500;
    margin-bottom:15px;
    margin-top: 12px;

}
.container-grid .f-about h3:before{
    content:"";
    position: absolute;
    bottom:-5px;
    Left:0;
    width:50px;
    height:2px;
    background:#f00;
}
.container-grid .f-about p{
    color:#999;
}
.f-links{
    margin-top:5px;
    display:flex;

}
.f-links h3{
    position:relative;
    color:#fff;
    font-weight: 500;
    margin-bottom:15px;
}
.f-links li span{
    display:inline-block;
    width:40px;
    height:40px;
    background:#222;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-right:10px;
    text-decoration:none;
    border-radius:4px;

} */